.wf-roundedmplus1c {
    font-family: "M PLUS Rounded 1c";
}

.title {
    color: #413929;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
}

header {
    height: 100px;
    width: 100%;
    padding: 15px 0;
    background-color: #a6d5eb;
    color: white;
    font-size: 30px;
}

header .headline {
    line-height: 100px;
    float: left;
    font-size: 30px;
    margin-left: 100px;
}

.nav-list {
    line-height: 100px;
    float: left;
    margin-left: 30px;
    list-style: none;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.title_img {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 60%;
    height: 20%;
    margin: auto;
    position: relative;
    /*相対配置*/
}

body {
    background-color: aliceblue;
}

h2 {
    position: relative;
    padding: 0 65px;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}

h2:before {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background: #000;
}

h2 span {
    position: relative;
    padding: 0 1em;
    background: aliceblue;
}

h3 {
    position: relative;
    padding: 1.5rem;
    text-align: center;
    font-size: 2em;
}

h3:before {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: '';
    border-radius: 3px;
    background: rgb(218, 97, 97);
}

h4 {
    padding: 1rem 2rem;
    border-left: 6px double #000;
}

.consept {
    position: relative;
    padding: 12.5%;
    margin: 15%;
    background-color: rgb(255, 255, 255);
}

.consept:before,
.consept:after {
    content: '';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
}

.consept:before {
    border-left: solid 2px rgb(133, 133, 133);
    border-top: solid 2px rgb(133, 133, 133);
    top: 0;
    left: 0;
}

.consept:after {
    border-right: solid 2px rgb(133, 133, 133);
    border-bottom: solid 2px rgb(133, 133, 133);
    bottom: 0;
    right: 0;
}

.consept p {
    margin: -10%;
    padding: 0;
    position: relative;
}

.frex_img {
    width: 100%;
    text-align: center;
    background-color: aliceblue;
}

.frex_img p {
    position: absolute;
    /*絶対配置*/
    color: rgb(90, 94, 95);
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Teko', sans-serif;
}

.box17 {
    margin: 2em 1em;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px rgb(133, 133, 133);
    border-bottom: solid 2px rgb(32, 32, 32);
}

.box17:before,
.box17:after {
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: rgb(32, 32, 32);
}

.box17:before {
    left: 10px;
}

.box17:after {
    right: 10px;
}

.slider {
    position: relative;
    z-index: 1;
    /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
    height: 100vh;
    /*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}


/*戻る、次へ矢印の位置*/

.slick-prev,
.slick-next {
    position: absolute;
    /*絶対配置にする*/
    z-index: 3;
    top: 42%;
    cursor: pointer;
    /*マウスカーソルを指マークに*/
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;
    /*矢印の色*/
    border-right: 2px solid #ccc;
    /*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {
    /*戻る矢印の位置と形状*/
    left: 2.5%;
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印の位置と形状*/
    right: 2.5%;
    transform: rotate(45deg);
}


/*ドットナビゲーションの設定*/

.slick-dots {
    position: relative;
    z-index: 3;
    text-align: center;
    margin: -5% 0 0 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    /*ドットボタンのサイズ*/
    height: 8px;
    /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #ccc;
    /*ドットボタンの色*/
}

.slick-dots .slick-active button {
    background: rgb(136, 136, 136);
    /*ドットボタンの現在地表示の色*/
}

.fullmov {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 10%;
}

.kokuhaku_mov {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 10%;
}

figure kokuhaku_mov {
    float: right;
    margin: 0 0 15px 15px;
    width: 30%;
}

.kokuhaku_mov p {
    margin-left: 2%;
}

.drive_mov {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 10%;
}

figure drive_mov {
    float: left;
    margin: 0 0 15px 15px;
    width: 30%;
}

.drive_mov p {
    margin-left: 2%;
}

.propose_mov {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 10%;
}

.propose_mov p {
    margin-left: 2%;
}

.wedding_mov {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 10%;
}

.wedding_mov p {
    margin-left: 2%;
}

.info {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 5%;
}